.back-button {
  background-color: none; /* Orange background */
  color: #36454f; /* White text */
  border: none;
  padding: 8px 12px;
  margin: 20px; /* Margin from the top elements */
  border-radius: 6px; /* Rounded corners */
  cursor: pointer;
}

.back-button:hover {
  background-color: #d3d3d3; /* Bright Red on hover */
}
