.back-button {
  background-color: #ffa500; /* Orange background */
  color: #ffffff; /* White text */
  border: none;
  padding: 8px 12px;
  margin-bottom: 20px; /* Margin from the top elements */
  border-radius: 6px; /* Rounded corners */
  cursor: pointer;
}

.back-button:hover {
  background-color: #dc0000; /* Bright Red on hover */
}
